In [1]:
import pandas as pd
from IPython.display import display

In [2]:
df = pd.read_csv('/Users/jackmayr/PycharmProjects/my_juypter_notebooks/csc_395/data/wine_data.csv')
display(df)
display(df.dtypes)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

type                     object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [3]:
df1 = df[['type', 'pH', 'alcohol']]
display(df1)

       type    pH  alcohol
0     white  3.00      8.8
1     white  3.30      9.5
2     white  3.26     10.1
3     white  3.19      9.9
4     white  3.19      9.9
...     ...   ...      ...
6492    red  3.45     10.5
6493    red  3.52     11.2
6494    red  3.42     11.0
6495    red  3.57     10.2
6496    red  3.39     11.0

[6497 rows x 3 columns]

In [4]:
df1.dropna()
display(df1)

       type    pH  alcohol
0     white  3.00      8.8
1     white  3.30      9.5
2     white  3.26     10.1
3     white  3.19      9.9
4     white  3.19      9.9
...     ...   ...      ...
6492    red  3.45     10.5
6493    red  3.52     11.2
6494    red  3.42     11.0
6495    red  3.57     10.2
6496    red  3.39     11.0

[6497 rows x 3 columns]

In [5]:
dfwhite = df2 = df1[df1['type']=='white'][df1['alcohol']>10.0]
display(dfwhite)

/var/folders/78/6y5fpy1j5hlbymrj4fxqkkz40000gn/T/ipykernel_32633/2086178244.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfwhite = df2 = df1[df1['type']=='white'][df1['alcohol']>10.0]

       type    pH  alcohol
2     white  3.26     10.1
5     white  3.26     10.1
9     white  3.22     11.0
10    white  2.99     12.0
12    white  3.18     10.8
...     ...   ...      ...
4890  white  3.06     11.8
4891  white  3.24     10.6
4893  white  3.27     11.2
4896  white  3.34     12.8
4897  white  3.26     11.8

[2813 rows x 3 columns]

In [6]:
dfwhite['type'].iloc[dfwhite['type']=='white'] = 'red'
display(dfwhite)

     type    pH  alcohol
2     red  3.26     10.1
5     red  3.26     10.1
9     red  3.22     11.0
10    red  2.99     12.0
12    red  3.18     10.8
...   ...   ...      ...
4890  red  3.06     11.8
4891  red  3.24     10.6
4893  red  3.27     11.2
4896  red  3.34     12.8
4897  red  3.26     11.8

[2813 rows x 3 columns]

In [7]:
dfcombine = dfwhite[['pH', 'alcohol']] + df2[['type']]
display(dfcombine)

      alcohol  pH type
2         NaN NaN  NaN
5         NaN NaN  NaN
9         NaN NaN  NaN
10        NaN NaN  NaN
12        NaN NaN  NaN
...       ...  ..  ...
4890      NaN NaN  NaN
4891      NaN NaN  NaN
4893      NaN NaN  NaN
4896      NaN NaN  NaN
4897      NaN NaN  NaN

[2813 rows x 3 columns]