NOTE: This code was written by my professor

Implement the a priori algorithm. Apply to datasets indicated in code below.
You may work togehter, but you should make your own code. Share ideas about data structures and flow.

**A priori algorthm**

```
F_k: frequent k-itemsets

L_k: candidate k-itemsets

Algorithm
* Let k=1
* Generate F_1 = {frequent 1-itemsets}
* Repeat until F_k is empty
 * Candidate Generation: Generate L_(k+1) from F_k
 * Candidate Pruning: eliminate candidate itemsets in L_k+1 containing subsets of length k that are infrequent 
 * Support Counting: Count the support of each candidate in L_(k+1) by scanning the DB (or use a more efficient hash method)
 * Candidate Elimination: Eliminate candidates in L_(k+1) that are infrequent, leaving only those that are frequent => F_(k+1)
```

In [19]:
# %pip install mlxtend --upgrade

In [4]:
#Functions and imports
#I had functions for candidate generation, candidate pruning, support count, and candidate elimination.
from csv import reader
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

In [8]:
#Main program. Some things below you may or may not want.


if __name__ == "__main__":

  #Transaction file name
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/GroceryStoreStacked.csv'
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/GroceryStoreStacked_sub.csv'
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/Table_5_1.txt'
  trans_file_name = '/Users/jackmayr/PycharmProjects/my_juypter_notebooks/csc_395/data/Assoc_Analysis_Vidhya.dat.csv'


  print("Transaction file:", trans_file_name)
  #Set min_sup
  MIN_SUP = 2
  print("\nmin_sup",MIN_SUP)

  #My overall code flow followed the algorithm. I did build in some efficiencies
  #  for candidate generation.

Transaction file: /Users/jackmayr/PycharmProjects/my_juypter_notebooks/csc_395/data/Assoc_Analysis_Vidhya.dat.csv

min_sup 2

In [14]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(str)

In [15]:
# from google.colab import drive
# drive.mount('/content/drive')
df = pd.read_csv(trans_file_name, delimiter=',')
df = df.iloc[: , 1:]
df = clean_dataset(df)
# User list comprehension to create a list of lists from Dataframe rows
data_list = [list(row) for row in df.values]
# Print list of lists i.e. rows
print(data_list)
#data_matrix = pd.read_csv(trans_file_name)

[['Bread', 'Cheese', 'Meat', 'Diaper', 'Wine', 'Milk', 'Pencil'], ['Eggs', 'Bread', 'Wine', 'Pencil', 'Milk', 'Diaper', 'Bagel'], ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'], ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'], ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'], ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'], ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'], ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'], ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'], ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'], ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'], ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'], ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'], ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'], ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'], ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'], ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'], ['Bread', 'Meat', 'Milk', 'Cheese', 'Wine', 'Eggs', 'Pencil'], ['Cheese', 'Pencil', 'Meat', 'Eggs', 'Milk', 'Bagel', 'Wine'], ['Milk', 'Eggs', 'Meat', 'Cheese', 'Bread', 'Wine', 'Pencil'], ['Bread', 'Eggs', 'Bagel', 'Diaper', 'Milk', 'Meat', 'Pencil'], ['Cheese', 'Eggs', 'Meat', 'Wine', 'Bagel', 'Diaper', 'Bread'], ['Eggs', 'Bagel', 'Meat', 'Diaper', 'Pencil', 'Milk', 'Bread'], ['Bagel', 'Cheese', 'Eggs', 'Milk', 'Meat', 'Pencil', 'Bread'], ['Bread', 'Meat', 'Pencil', 'Eggs', 'Cheese', 'Milk', 'Wine'], ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'], ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'], ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'], ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'], ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'], ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'], ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'], ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'], ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'], ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'], ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'], ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'], ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'], ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'], ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine']]

/var/folders/78/6y5fpy1j5hlbymrj4fxqkkz40000gn/T/ipykernel_67034/3459539243.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)

In [16]:
te = TransactionEncoder()
te_ary = te.fit(data_list).transform(data_list)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = fpgrowth(df, min_support=0.5, use_colnames=True)

In [17]:
frequent_itemsets

    support                itemsets
0     0.925                  (Wine)
1     0.825                  (Meat)
2     0.825                (Cheese)
3     0.825                 (Bread)
4     0.725                (Pencil)
5     0.725                  (Milk)
6     0.675                (Diaper)
7     0.775                  (Eggs)
8     0.700                 (Bagel)
9     0.750            (Meat, Wine)
10    0.800          (Wine, Cheese)
11    0.675          (Meat, Cheese)
12    0.650    (Meat, Wine, Cheese)
13    0.750           (Bread, Wine)
14    0.650         (Bread, Cheese)
15    0.650           (Bread, Meat)
16    0.625   (Bread, Wine, Cheese)
17    0.575     (Bread, Meat, Wine)
18    0.500   (Bread, Meat, Cheese)
19    0.650          (Pencil, Wine)
20    0.600         (Bread, Pencil)
21    0.600        (Pencil, Cheese)
22    0.600          (Meat, Pencil)
23    0.550          (Pencil, Eggs)
24    0.525   (Bread, Pencil, Wine)
25    0.575  (Pencil, Wine, Cheese)
26    0.525    (Meat, Pencil, Wine)
27    0.500  (Meat, Pencil, Cheese)
28    0.650           (Bread, Milk)
29    0.650            (Milk, Wine)
30    0.600            (Milk, Meat)
31    0.550          (Milk, Cheese)
32    0.550            (Milk, Eggs)
33    0.575     (Bread, Milk, Wine)
34    0.525      (Milk, Meat, Wine)
35    0.525     (Bread, Meat, Milk)
36    0.525    (Milk, Wine, Cheese)
37    0.625          (Diaper, Wine)
38    0.550        (Diaper, Cheese)
39    0.550          (Meat, Diaper)
40    0.525         (Bread, Diaper)
41    0.500         (Diaper, Bagel)
42    0.500          (Diaper, Eggs)
43    0.550  (Diaper, Wine, Cheese)
44    0.500    (Meat, Diaper, Wine)
45    0.700            (Eggs, Wine)
46    0.600           (Bread, Eggs)
47    0.600          (Eggs, Cheese)
48    0.600            (Meat, Eggs)
49    0.525     (Bread, Eggs, Wine)
50    0.575    (Eggs, Wine, Cheese)
51    0.525      (Meat, Eggs, Wine)
52    0.625           (Wine, Bagel)
53    0.550           (Eggs, Bagel)
54    0.525          (Bread, Bagel)
55    0.525         (Cheese, Bagel)
56    0.525           (Meat, Bagel)
57    0.500   (Cheese, Wine, Bagel)

In [18]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Meat),(Wine),0.825,0.925,0.750,0.909091,0.982801,-0.013125,0.8250
1,(Wine),(Meat),0.925,0.825,0.750,0.810811,0.982801,-0.013125,0.9250
2,(Wine),(Cheese),0.925,0.825,0.800,0.864865,1.048321,0.036875,1.2950
3,(Cheese),(Wine),0.825,0.925,0.800,0.969697,1.048321,0.036875,2.4750
4,(Meat),(Cheese),0.825,0.825,0.675,0.818182,0.991736,-0.005625,0.9625
...,...,...,...,...,...,...,...,...,...
113,(Bagel),(Cheese),0.700,0.825,0.525,0.750000,0.909091,-0.052500,0.7000
114,(Bagel),(Meat),0.700,0.825,0.525,0.750000,0.909091,-0.052500,0.7000
115,"(Bagel, Cheese)",(Wine),0.525,0.925,0.500,0.952381,1.029601,0.014375,1.5750
116,"(Wine, Bagel)",(Cheese),0.625,0.825,0.500,0.800000,0.969697,-0.015625,0.8750
117,(Bagel),"(Wine, Cheese)",0.700,0.800,0.500,0.714286,0.892857,-0.060000,0.7000

Some output - I think it is correct, but if you find problems, let me know

```
Transaction file: /content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/Table_5_1.txt

min_sup 2

Number of transactions: 5

Candidate 1-itemset has 6 items.
{'Bread': 4, 'Milk': 4, 'Beer': 3, 'Diapers': 4, 'Eggs': 1, 'Cola': 2}

Pruned 1-itemset is the same as the eliminated 1-itemset.

Eliminated 1-itemset has 5 items.
{'Bread': 4, 'Milk': 4, 'Beer': 3, 'Diapers': 4, 'Cola': 2}

Candidate 2-itemset has 10 items.
{'Bread,Milk': 0, 'Beer,Bread': 0, 'Bread,Diapers': 0, 'Bread,Cola': 0, 'Beer,Milk': 0, 'Diapers,Milk': 0, 'Cola,Milk': 0, 'Beer,Diapers': 0, 'Beer,Cola': 0, 'Cola,Diapers': 0}

Pruned 2-itemset has 10 items.
{'Bread,Milk': 0, 'Beer,Bread': 0, 'Bread,Diapers': 0, 'Bread,Cola': 0, 'Beer,Milk': 0, 'Diapers,Milk': 0, 'Cola,Milk': 0, 'Beer,Diapers': 0, 'Beer,Cola': 0, 'Cola,Diapers': 0}

Eliminated 2-itemset has 8 items.
{'Bread,Milk': 3, 'Beer,Bread': 2, 'Bread,Diapers': 3, 'Beer,Milk': 2, 'Diapers,Milk': 3, 'Cola,Milk': 2, 'Beer,Diapers': 3, 'Cola,Diapers': 2}

Candidate 3-itemset has 10 items.
{'Beer,Bread,Milk': 0, 'Bread,Diapers,Milk': 0, 'Bread,Cola,Milk': 0, 'Beer,Bread,Diapers': 0, 'Bread,Cola,Diapers': 0, 'Beer,Diapers,Milk': 0, 'Cola,Diapers,Milk': 0, 'Beer,Cola,Milk': 0, 'Beer,Cola,Diapers': 0, 'Beer,Bread,Cola': 0}

Pruned 3-itemset has 5 items.
{'Beer,Bread,Milk': 0, 'Bread,Diapers,Milk': 0, 'Beer,Bread,Diapers': 0, 'Beer,Diapers,Milk': 0, 'Cola,Diapers,Milk': 0}

Eliminated 3-itemset has 4 items.
{'Bread,Diapers,Milk': 2, 'Beer,Bread,Diapers': 2, 'Beer,Diapers,Milk': 2, 'Cola,Diapers,Milk': 2}

Candidate 4-itemset has 4 items.
{'Beer,Bread,Diapers,Milk': 0, 'Bread,Cola,Diapers,Milk': 0, 'Beer,Cola,Diapers,Milk': 0, 'Beer,Bread,Cola,Diapers': 0}

Pruned 4-itemset has 0 items.
{}

Eliminated 4-itemset has 0 items.
{}
END

```