Imports

In [1]:
import math
import pandas as pd
import numpy as np
#from google.colab import drive
#drive.mount('/content/drive')

read in data as pandas dataframe, this makes separating data and identifying class values easy and vectorizable

In [3]:
data_matrix = pd.read_csv('/Users/jackmayr/PycharmProjects/my_juypter_notebooks/csc_395/data/DecTreeAssign1.dat')
data_matrix

,Class,F00,F01,F02,F03,F04,F05,F06,F07,F08,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

initial output of total M and B observations

In [4]:
tot_count = len(data_matrix)
m_count = len(data_matrix[data_matrix['Class'] == 'M'])
b_count = len(data_matrix[data_matrix['Class'] == 'B'])
print('Total Observations: ', tot_count)
print('Class M Observations: ', m_count)
print('Class B Observations: ', b_count)

Total Observations:  569
Class M Observations:  212
Class B Observations:  357

In [5]:
def gini_and_entropy(data, col, avg):
  below_avg = data[data[col] < avg]
  num_M_below_avg = len(below_avg[below_avg['Class'] == 'M'])
  num_B_below_avg = len(below_avg[below_avg['Class'] == 'B'])
  total_below_count = num_M_below_avg + num_B_below_avg
  
  M_div_T = num_M_below_avg / total_below_count
  B_div_T = num_B_below_avg / total_below_count
  M_div_T2 = M_div_T**2
  B_div_T2 = B_div_T**2
  M_div_T_log = math.log2(M_div_T)
  B_div_T_log = math.log2(B_div_T)

  gini_calc = 1 - M_div_T2 - B_div_T2
  entropy_calc = -1*(M_div_T*M_div_T_log) + -1*(B_div_T*B_div_T_log)
  gini_calc = round(gini_calc, 4)
  entropy_calc = round(entropy_calc, 4)
  return gini_calc, entropy_calc

In [6]:
root_gini_entropy = pd.DataFrame(columns = ['feature', 'gini', 'entropy'])
index = 0
for (colname,colval) in data_matrix.iteritems():
  try: 
    g, e = gini_and_entropy(data_matrix, colname, colval.values.mean())
    root_gini_entropy.loc[index] = [colname, g, e]
    index += 1
  except:
    print('it dont work')
root_gini_entropy

it dont work

/var/folders/78/6y5fpy1j5hlbymrj4fxqkkz40000gn/T/ipykernel_69188/1765884607.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname,colval) in data_matrix.iteritems():

   feature    gini  entropy
0      F00  0.1692   0.4474
1      F01  0.2821   0.6576
2      F02  0.1596   0.4279
3      F03  0.1994   0.5069
4      F04  0.3562   0.7812
5      F05  0.2335   0.5709
6      F06  0.1484   0.4046
7      F07  0.0994   0.2968
8      F08  0.3807   0.8202
9      F09  0.4688   0.9544
10     F10  0.2730   0.6417
11     F11  0.4733   0.9611
12     F12  0.2694   0.6353
13     F13  0.2588   0.6166
14     F14  0.4820   0.9739
15     F15  0.3685   0.8010
16     F16  0.3546   0.7786
17     F17  0.2993   0.6871
18     F18  0.4798   0.9706
19     F19  0.4259   0.8902
20     F20  0.1313   0.3682
21     F21  0.2858   0.6640
22     F22  0.1122   0.3261
23     F23  0.1737   0.4565
24     F24  0.3257   0.7314
25     F25  0.2700   0.6365
26     F26  0.1693   0.4476
27     F27  0.0928   0.2812
28     F28  0.3573   0.7831
29     F29  0.3882   0.8321

In [7]:
max_entropy = root_gini_entropy.loc[root_gini_entropy['entropy'].idxmax()]
sp_above = data_matrix[data_matrix[max_entropy['feature']] < data_matrix[max_entropy['feature']].mean()]
sp_below = data_matrix[data_matrix[max_entropy['feature']] > data_matrix[max_entropy['feature']].mean()]
sp_above = sp_above
sp_below = sp_below

In [8]:
sp_above
sp_below
above_count = len(sp_above)
below_count = len(sp_above)

m_above_count = len(sp_above[sp_above['Class'] == 'M'])
b_above_count = len(sp_above[sp_above['Class'] == 'B'])
m_below_count = len(sp_below[sp_below['Class'] == 'M'])
b_below_count = len(sp_below[sp_below['Class'] == 'B'])
above_total = m_above_count + b_above_count
below_total = m_below_count + b_below_count

M_bel_div_T = m_below_count / below_total
B_bel_div_T = b_below_count / below_total
M_bel_div_T2 = M_bel_div_T**2
B_bel_div_T2 = B_bel_div_T**2
M_bel_div_T_log = math.log2(M_bel_div_T)
B_bel_div_T_log = math.log2(B_bel_div_T)

bel_gini_calc = 1 - M_bel_div_T2 - B_bel_div_T2
bel_entropy_calc = -1*(M_bel_div_T*M_bel_div_T_log) + -1*(B_bel_div_T*B_bel_div_T_log)
bel_gini_calc = round(bel_gini_calc, 4)
bel_entropy_calc = round(bel_entropy_calc, 4)


M_abv_div_T = m_above_count / above_total
B_abv_div_T = b_above_count / above_total
M_abv_div_T2 = M_abv_div_T**2
B_abv_div_T2 = B_abv_div_T**2
M_abv_div_T_log = math.log2(M_abv_div_T)
B_abv_div_T_log = math.log2(B_abv_div_T)

abv_gini_calc = 1 - M_abv_div_T2 - B_abv_div_T2
abv_entropy_calc = -1*((M_abv_div_T*M_abv_div_T_log) + (B_abv_div_T*B_abv_div_T_log))
abv_gini_calc = round(abv_gini_calc, 4)
abv_entropy_calc = round(abv_entropy_calc, 4)
print(M_bel_div_T)
print(B_bel_div_T)

print(M_abv_div_T)
print(B_abv_div_T)
print('Below Node gini: ', bel_gini_calc, ' | entropy: ', bel_entropy_calc)
print('Above Node gini: ', abv_gini_calc, ' | entropy: ', abv_entropy_calc)

print('Total Observations: ', tot_count)
print('Class M Observations: ', m_count)
print('Class B Observations: ', b_count)

0.3212669683257919
0.6787330316742082
0.4051724137931034
0.5948275862068966
Below Node gini:  0.4361  | entropy:  0.9058
Above Node gini:  0.482  | entropy:  0.9739
Total Observations:  569
Class M Observations:  212
Class B Observations:  357

In [9]:
ch1_gini_entropy = pd.DataFrame(columns = ['feature', 'gini', 'entropy'])

id = 0
for (colname,colval) in sp_above.iteritems():
  
  try: 
    print(colname, colval.values.mean())
    g1, e1 = gini_and_entropy(sp_above, colname, colval.values.mean())
    print(g1, e1)
    ch1_gini_entropy.loc[id] = [colname, g1, e1]
    id += 1
  except:
    print('it dont work')
ch1_gini_entropy

it dont work
F00 14.806155172413792
0.2196 0.5452
F01 19.196063218390805
0.3225 0.7261
F02 96.33135057471266
0.2047 0.517
F03 709.8287356321839
0.2387 0.5804
F04 0.09350675287356323
0.3358 0.7481
F05 0.10094129310344827
0.247 0.5955
F06 0.08576867155172413
0.1926 0.4938
F07 0.04954365229885058
0.1426 0.3926
F08 0.17723649425287355
0.3653 0.7958
F09 0.06085126436781609
0.4688 0.9544
F10 0.382132183908046
0.2846 0.6618
F11 1.0639577586206896
0.4705 0.9571
F12 2.708359195402299
0.2965 0.6823
F13 39.332830459770115
0.2778 0.65
F14 0.005305442528735632
0.468 0.9533
F15 0.022227344827586207
0.392 0.838
F16 0.027165116666666666
0.3638 0.7934
F17 0.010514574712643679
0.3213 0.724
F18 0.018149045977011495
0.4888 0.9837
F19 0.0031273485632183906
0.4255 0.8897
F20 17.21084195402299
0.1713 0.4516
F21 25.86385057471264
0.2969 0.683
F22 113.58882183908047
0.1591 0.4269
F23 973.439367816092
0.2171 0.5406
F24 0.12730706896551724
0.3386 0.7526
F25 0.26155281609195397
0.2914 0.6735
F26 0.28200421551724136
0.213 0.5328
F27 0.12015120977011497
0.1407 0.3884
F28 0.29326580459770113
0.3763 0.8133
F29 0.08251471264367816
0.392 0.838

/var/folders/78/6y5fpy1j5hlbymrj4fxqkkz40000gn/T/ipykernel_69188/2978105223.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname,colval) in sp_above.iteritems():

   feature    gini  entropy
0      F00  0.2196   0.5452
1      F01  0.3225   0.7261
2      F02  0.2047   0.5170
3      F03  0.2387   0.5804
4      F04  0.3358   0.7481
5      F05  0.2470   0.5955
6      F06  0.1926   0.4938
7      F07  0.1426   0.3926
8      F08  0.3653   0.7958
9      F09  0.4688   0.9544
10     F10  0.2846   0.6618
11     F11  0.4705   0.9571
12     F12  0.2965   0.6823
13     F13  0.2778   0.6500
14     F14  0.4680   0.9533
15     F15  0.3920   0.8380
16     F16  0.3638   0.7934
17     F17  0.3213   0.7240
18     F18  0.4888   0.9837
19     F19  0.4255   0.8897
20     F20  0.1713   0.4516
21     F21  0.2969   0.6830
22     F22  0.1591   0.4269
23     F23  0.2171   0.5406
24     F24  0.3386   0.7526
25     F25  0.2914   0.6735
26     F26  0.2130   0.5328
27     F27  0.1407   0.3884
28     F28  0.3763   0.8133
29     F29  0.3920   0.8380

In [11]:
ch2_gini_entropy = pd.DataFrame(columns = ['feature', 'gini', 'entropy'])

id = 0
for (colname,colval) in sp_below.iteritems():
  try: 
    print()
    g2, e2 = gini_and_entropy(sp_below, colname, colval.values.mean())
    ch2_gini_entropy.loc[id] = [colname, g2, e2]
    id += 1
  except:
    print('it dont work')
ch2_gini_entropy

it dont work

/var/folders/78/6y5fpy1j5hlbymrj4fxqkkz40000gn/T/ipykernel_69188/1863067303.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname,colval) in sp_below.iteritems():

   feature    gini  entropy
0      F00  0.1063   0.3127
1      F01  0.1990   0.5061
2      F02  0.1056   0.3111
3      F03  0.1142   0.3307
4      F04  0.2834   0.6599
5      F05  0.1605   0.4298
6      F06  0.0588   0.1959
7      F07  0.0294   0.1119
8      F08  0.3706   0.8043
9      F09  0.4256   0.8898
10     F10  0.2395   0.5818
11     F11  0.4426   0.9156
12     F12  0.2422   0.5867
13     F13  0.2323   0.5687
14     F14  0.4628   0.9457
15     F15  0.3070   0.7002
16     F16  0.2659   0.6292
17     F17  0.1665   0.4420
18     F18  0.4554   0.9347
19     F19  0.3885   0.8326
20     F20  0.0416   0.1485
21     F21  0.2873   0.6666
22     F22  0.0422   0.1502
23     F23  0.0657   0.2141
24     F24  0.2985   0.6858
25     F25  0.2550   0.6098
26     F26  0.0868   0.2668
27     F27  0.0308   0.1161
28     F28  0.3529   0.7759
29     F29  0.3617   0.7901